*
{
    margin: 0;
    padding: 0;
}

header
{
    background-image: url(jjj.jpg);
    height: 200vh;
    background-size: cover;
    background-position: center; 
}

.main-nav
{
    float: right;
    list-style: none;
    margin-top: 30px;
}

.main-nav li
{
    display: inline-block;
}

.main-nav li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.main-nav li.active a
{
    border: 1px solid white;
}

.main-nav li a:hover
{
    border: 1px solid white;
}

body
{
    font-family: monospace;
}
.row
{
    max-width: 1200px;
    margin: auto;

}

.hero
{
    position: absolute;
    width: 1200px;
    margin-left: 0;
    margin-top: 0;
}

h1
{
    color: white;
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
    margin-top: 275px;
    font-family: "Roboto", sans-serif;
}

.button
{
    margin-top: 30px;
    margin-left: 440px;
}

.btn
{
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
    font-size: 16 px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
}

.btn-one
{
    font-family: "Roboto", sans-serif;
}

.btn-one:hover
{
    background-color:  grey;
    transition: all 0.5s ease-in;
}

.btn-two
{
    font-family: "Roboto", sans-serif;
}

.btn-two:hover
{
    background-color:  gray;
    transition: all 0.5s ease-in;
}

.container{
    width:80%;
    margin:auto;
    overflow:hidden;}
    body{
        background-color: darkgray;
        color:white;
        font: normal 16px Arial, Helvetica, sans-serif;
        /*font-family: ; Helvetica, sans-serif;*/
        font-size:16px;
        line-height: 1.6em;
        margin: 0;}
    .container{
        width:80%;
        margin:auto;
        overflow:hidden;}
    #main-header{
        background-color: ;
        color: #fff;}
    #navbar{
        background-color: #333;
        color:#fff;}
    #navbar ul{
        padding: 0;
        list-style: none;}
    #navbar li{
        display:inline;}
    #navbar a{
        color:#fff;
        text-decoration: none;
        font-size: 18px;
        padding-right:15px;}
    #showcase{
        background-image:url('../images/display.jpg');
        background-position:center right;
        min-height:300px;
        margin-bottom: 30px;
        text-align: center;
    }
    #showcase h1{
        color:#fff;
        font-size:50px;
        line-height:1.6em;
        padding:30px;
    }
    #main{
        float:left;
        width: 70%;
        padding:0 30px;
        box-sizing: border-box;
    }
    
    #sidebar{
        float:right;
        width:30%;
        background:#333;
        color:#fff;
        padding:10px;
        box-sizing:border-box;
    }
    
    #main-footer{
        background:#333;
        color:#fff;
        text-align:center;
        padding: :20px;
        margin-top: 40px;
    }
    @media(max-width:600px){
        #main{
            width: 100%;
            float:none;
        }
        #sidebar{
            width:100%;
            float:none;
        }
    }
    
    